@import "tailwindcss";

@theme {
  --color-brand-50: #fef2f2;
  --color-brand-100: #fde8e8;
  --color-brand-200: #f5c6c6;
  --color-brand-300: #f09898;
  --color-brand-400: #e85555;
  --color-brand-500: #e30613;
  --color-brand-600: #c0020e;
  --color-brand-700: #9b0210;
  --color-brand-800: #7a0610;
  --color-brand-900: #520410;
}
